.h2 {
    font-size: xx-large;
    color: rgb(6, 97, 22);
}

h1 {
    display: flex;
    font-size: 100px;
    justify-content: center;
    color: rgb(6, 97, 22);
    margin-bottom: 50px;
    border-bottom: 1px solid black;
}

.card-image {
    border-bottom: 1px solid black;
}

.card-header-title {
    font-size: small;
}